<ng-container *ngIf="!optionsLoading">
  <ng-container *ngIf="initialOptions|async as opt;">
    <choosy-header *ngIf="config.search?.enable" (search)="onSearch($event)"></choosy-header>
    <choosy-list [options]="opt" [optionTpl]="optionTpl" [config]="config"></choosy-list>
    <choosy-footer [optionsCount]="opt.length" *ngIf="config.footer?.enable"></choosy-footer>
  </ng-container>
</ng-container>

<ng-container *ngIf="optionsLoading">
  <div class="choosy-loading">
    loading...
  </div>
</ng-container>


<ng-container *ngIf="config.type=='menu'">
  <ng-template *ngTemplateOutlet="optionTpl">
  </ng-template>
</ng-container>