<div class="container">
  <div class="col-md-12 row">
    <div class="col-md-4">
      <input type="text" class="form-control" (input)="filter($event.target.value,ref)" (keydown.arrowdown)="keypressed('DOWN',ref)"
        (keydown.arrowup)="keypressed('UP',ref)">
      <button class="btn btn-info btn-block mt-2" (click)="search('lcarnie4',ref)">Search 'lcarnie4'</button>
      <button class="btn btn-danger btn-block mt-2" (click)="clear(ref)">Clear</button>
    </div>
    <div class="col-md-4">
      <choosy [options]="data" [config]="config" #ref="choosyRef" (events)="captureEvents($event)" [optionTpl]="userTpl" (selected)="selected($event)"></choosy>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let event of events">
          <div class="text-primary">{{event.name}}</div>
          <small class="text-muted">{{event.value|json}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #userTpl let-item>
  <strong>{{item.first_name}}</strong>
  <div>{{item.email}}</div>
</ng-template>