<div class="choosy-headboard">
  <ng-template *ngTemplateOutlet="headerTpl"></ng-template>
</div>
<ng-container *ngIf="!optionsLoading && initialOptions">
  <choosy-filter-widget *ngIf="config.search?.enable" (search)="search($event)"></choosy-filter-widget>
  <choosy-grouped-list-view [options]="initialOptions" [optionTpl]="optionTpl" [config]="config"></choosy-grouped-list-view>

  <choosy-info-panel-widget [options]="initialOptions" *ngIf="config.footer?.enable"></choosy-info-panel-widget>
</ng-container>

<choosy-loader-widget *ngIf="optionsLoading"></choosy-loader-widget>