<div class="container">
  <div class="col-md-12 row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" (click)="toggleSearch()">Toggle search</li>
        <li class="list-group-item" (click)="toggleFooter()">Toggle footer</li>
        <li class="list-group-item" (click)="selectOne(ref)">Select one item</li>
        <li class="list-group-item" (click)="deselectAll(ref)">Deselect all</li>
        <li class="list-group-item" (click)="selectMultiple(ref)">select multiple</li>
        <li class="list-group-item" (click)="clearFiltered(ref)">Clear filtered</li>
      </ul>
    </div>
    <div class="col-md-4">
      <choosy [options]="options" [config]="config" #ref="choosyRef" (events)="captureEvents($event)"></choosy>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let event of events">
          <div class="text-primary">{{event.name}}</div>
          <small class="text-muted">{{event.value|json}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>