<div class="container">
  <div class="col-md-12 row">
    <div class="col-md-8">
      <choosy [options]="data" [config]="config" #ref="choosyRef" (events)="captureEvents($event)" [optionTpl]="placesTpl" (selected)="selected($event)"></choosy>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let event of events">
          <div class="text-primary">{{event.name}}</div>
          <small class="text-muted">{{event.value|json}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>


<ng-template #placesTpl let-item let-state="state">
  <div class="illus" [class.selected]="state.selected">
    <i class="icon {{item.name}}" [ngClass]="{selected:state.selected}"></i>
    <div>{{item.title}}</div>
  </div>
</ng-template>