<h1>Choosy doc</h1>

<div>
  Hello my name is ,{{name}}!
</div>

<hr>


<!-- <app-x1-simple-array></app-x1-simple-array> -->
<!-- <app-example-single-select></app-example-single-select> -->

<app-active-loop></app-active-loop>
<hr>
<app-output-val></app-output-val>
<hr>
<app-enable-diable-opt></app-enable-diable-opt>
<hr>
<app-choosy-add-rem-opt></app-choosy-add-rem-opt>
<hr>
<app-choosy-obs-input></app-choosy-obs-input>
<hr>
<app-choosy-with-tpl></app-choosy-with-tpl>
<hr>
<app-demo-choosy></app-demo-choosy>