<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ngx-choosy</a>
</nav>

<!-- <app-dropdown-directive></app-dropdown-directive>
<hr> -->
<app-overlay></app-overlay>
<hr>
<!-- <app-groupby></app-groupby> 
<hr>
<app-freestyle></app-freestyle>
<hr>
<app-headboard></app-headboard>
<hr>
<app-checkbox-select></app-checkbox-select>
<hr>
<app-autocomplete></app-autocomplete>
<hr>
<app-filter-outside></app-filter-outside>
<hr>
<app-chips></app-chips>
<hr>
<app-active-loop></app-active-loop>
<hr>
<app-output-val></app-output-val>
<hr>
<app-enable-diable-opt></app-enable-diable-opt>
<hr>
<app-choosy-add-rem-opt></app-choosy-add-rem-opt>
<hr>
<app-choosy-obs-input></app-choosy-obs-input>
<hr>
<app-choosy-with-tpl></app-choosy-with-tpl>
<hr>
<app-demo-choosy></app-demo-choosy> -->