<time>today</time>

<!-- <choosy-chips [ref]="cRef"></choosy-chips>

<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto text-center">
      <div class="form-group">
        <input type="text" placeholder="name" choosy-multi-select [options]="users" [config]="{displayValue:dv}" class="form-control"
          #cRef="choosyMultiSelectRef" [(ngModel)]="email">
      </div>

      <div class="card" *ngIf="email">
        {{email|json}}
      </div>
      <div>
        <button class="btn btn-warning" (click)="setV()">set</button>
        <button class="btn btn-outline-success" (click)="add(cRef)">Add</button>
        <button class="btn btn-outline-danger" (click)="remove(cRef)">Remove</button>
      </div>
    </div>
  </div>
</div> -->

<pre>{{emails|json}}</pre>

<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto text-center">
      <div class="form-group">
        <input type="text" placeholder="name" choosy-select [options]="(items|async)" [config]="{displayValue:'name.first'}" [optionTpl]="itemsTpl"
          class="form-control" #cRefs="choosySelectRef" [(ngModel)]="emails">
      </div>
      <ng-template let-item #itemsTpl>
        <div>
          <strong>{{item.email}}</strong>
        </div>
        <div>{{item.name.first}} - {{item.tags.join('-')}}</div>
      </ng-template>
      <div class="card" *ngIf="emails">
        {{emails.email}}
      </div>
      <div>
        <button class="btn btn-warning" (click)="setV()">set</button>
        <button class="btn btn-outline-success" (click)="add(cRef)">Add</button>
        <button class="btn btn-outline-danger" (click)="remove(cRef)">Remove</button>
      </div>
    </div>
  </div>
</div>



<!-- <hr>
<h3>Multiselect</h3>

<input type="text" placeholder="name" choosy-multi-select [options]="(items|async)" [config]="{foobar:'baz'}" [optionTpl]="itemsTpl"
  #cmref="choosyMultiSelectRef">

<choosy-items [ref]="cmref"></choosy-items>

<hr>
<h3>Menu</h3>
<button class="choosy-menu" [optionTpl]="menuTpl">menu</button>

<hr>
 -->



<!-- <hr> -->



<!-- 
<choosy [options]="(items|async)" [config]="{foobar:'baz'}" #cRef="choosyRef"></choosy>
 -->

<!-- <pre>{{cRef.initialOptions|json}}</pre> -->



<ng-template #menuTpl>
  <ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
  </ul>
</ng-template>