<div class="container">
  <div class="col-md-12 row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">Toggle search</li>
      </ul>
    </div>
    <div class="col-md-4">
      <choosy [options]="data" [config]="config" #ref="choosyRef" (events)="captureEvents($event)" [optionTpl]="carTpl" (selected)="selected($event)"></choosy>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let event of events">
          <div class="text-primary">{{event.name}}</div>
          <small class="text-muted">{{event.value|json}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #carTpl let-item>
  <strong>{{item.make}}</strong>
  <div>{{item.model}}</div>
</ng-template>