<div class="card">
  <input type="text" class="form-control" (input)="trigger($event.target.value)">
</div>

<p #src>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, magnam earum illum in quod assumenda omnis totam, nobis nihil
  ut labore doloremque? Commodi fuga tenetur quis facere consequuntur alias nesciunt!
</p>

<button class="btn btn-primary" (click)="create1()">create 1</button>
<button class="btn btn-primary" (click)="create2()">create 2</button>

<hr>

<button class="btn btn-danger" (click)="delete1()">delete 1</button>
<button class="btn btn-danger" (click)="delete2()">delete 2</button>