<!-- <doc-blink-test></doc-blink-test> -->
<!-- <doc-mixin-test></doc-mixin-test> -->

<div class="jumbotron jumbotron-fluid my-5 py-5">
  <div class="container">
    <div class="col-md-6">
      <h1 class="doc-intro-header">Modern, Customizable, extensible selection library for Angular</h1>
      <p class="doc-intro-desc">Select box, Autocomplete, Menu, dropdown, slide in selection and much more...</p>
      <button class="btn btn-primary text-white">Get started</button>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<doc-section name="Basic" desc="Pretty basic choosy">
  <doc-demo-basic></doc-demo-basic>
</doc-section>
<doc-section name="Multiple selection" desc="Select multiple options">
  <doc-multiselect></doc-multiselect>
</doc-section>
<doc-section name="Custom template" desc="User your own template to show the options">
  <doc-custom-template></doc-custom-template>
</doc-section>
<doc-section name="Grouping options" desc="Group options by nay key">
  <doc-group></doc-group>
</doc-section>
<doc-section name="Autocomplete" desc="Fetch options from remote source">
  <doc-autocomplete></doc-autocomplete>
</doc-section>
<doc-section name="Checkbox" desc="Add spice to your template by customizing with state">
  <doc-checkbox></doc-checkbox>
</doc-section>
<doc-choosy-test></doc-choosy-test>