@import './config';

& {
  display: block;
  width: 100%;
  // position: absolute;
  border: 1px solid $choosy-border;
  background: $choosy-bg;
  border-radius: 3px;
  margin-top: 5px;
  color: $choosy-text;
}

& ::ng-deep choosy-header {
  display: block;
  padding: 10px;
}

& ::ng-deep input[type='search'] {
  border: 1px solid $choosy-border;
  box-shadow: none;
  border-radius: 2px;
  line-height: 1;
  padding: 7px;
  width: 100%;
}

& ::ng-deep choosy-list {
  overflow: auto;
  display: block;
  position: relative;
  padding: 10px;
}

& ::ng-deep choosy-list > div {
  padding: 7px;
  border-bottom: 1px solid $choosy-border;
  border-radius: 4px;
  cursor: pointer;
  &:last-child {
    border-bottom: 0;
  }
  &:hover:not(.selected) {
    background-color: $choosy-bg-alt;
  }
  &.selected {} 
  &.active {
    background-color: transparentize($choosy-selected, 0.5);
    color: #fff;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

&.choosy-no-checkbox ::ng-deep choosy-list > div.selected{
  background-color: $choosy-selected;
    color: #fff;
}

& .choosy-loading {
  padding: 10px;
  text-align: center;
}

& ::ng-deep choosy-footer {
  padding: 10px;
  display: block;
  font-size: 80%;
  text-align: center;
  opacity: 0.5;
}

& ::ng-deep choosy-list .choosy-checkbox-tpl{
  display:flex;
  flex-direction:row;
  span:first-child{
    margin-right:0.5rem;
  }
}

@import './themes/_freestyle.scss'