html{
  font-size: 14px;
}

body{
  font-family: 'Rubik', sans-serif;
  color:#273444;
}
.host-container {
  position: absolute;
}

app-test{
  display:block;
  width:100%;
}
.overlay-container{
  // pointer-events: none
}

@import './styles/_icon.scss';
@import './styles/_icon-active.scss';