@import './variables';
@import './animations/jerk';
@import './components/scrollbar';
#choosy {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 100%;
}

#choosy-frame {
    border: 1px solid $choosy--col-border;
    border-radius: $choosy--border-rad;
    background-color: $choosy--col-bg;
    margin-top: $choosy--top-offset;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

#choosy-frame.jerk {
    @extend .choosy-jerk-animation;
}

:host /deep/ .choosy-search-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    input.choosy-search-input {
        border-radius: $choosy--border-rad;
        border: 1px solid $choosy--col-border;
        background: transparent;
        padding: 5px 8px;
        flex: 1;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        width: 100%;
    }
}

:host /deep/ .choosy-list-wrapper {
    overflow-x: auto;
    position: relative;
    padding: 0 3px;
    @extend .scrollbar;
    .choosy-list-item {
        padding: 7px 10px;
        cursor: pointer;
        text-align: left;
        border-radius: $choosy--border-rad;
        outline: none;
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .choosy-list-item:hover,
    .choosy-list-item:focus {
        background: $choosy--col-secondary;
        outline: none;
    }
    .choosy-list-item.selected,
    .choosy-list-item.selected:hover,
    .choosy-list-item.selected:focus {
        background: $choosy--col-primary;
        color: #fff;
    }
}

:host /deep/ .choosy-footer-wrapper {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid transparentize($choosy--col-border, 0.3);
    font-size: 80%;
    opacity: 0.7;
}
